dacite~=1.8.1
gpt4all~=2.8.2
ipywidgets~=8.1.5
matplotlib~=3.10.0
mypy~=1.14.1
nomic~=3.4.1
numpy~=2.2.1
pandas-stubs~=2.2.3.241126
pandas~=2.2.3
plotly~=6.0.0
pre-commit~=4.1.0
pytorch-lightning~=2.5.0.post0
scikit-learn~=1.6.0
sentence-transformers~=3.4.1
setuptools~=78.1.1
tiktoken~=0.8.0
torch~=2.6.0
tqdm~=4.67.1
transformers~=4.49.0
types-tqdm~=4.67.0.20241221